.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-item_addSong{
  margin-left: 1000px;
}
#navLinkHover:hover{
  color: #0000ff;
  font-weight: bold;
}
#saveHover:hover{
  background-color: #fff;
  color: #000000;
  border: 1px solid black;
}
#cancelHover:hover{
  color: #fff;
  background-color: #000000;
  border: 1px solid black;
}
#artistHover:hover{
  background-color: #fff;
  color: #000000;
  border: 1px solid black;
}
#cancelHover2:hover{
  color: #fff;
  background-color: #000000;
  border: 1px solid black;
}
#doneHover:hover{
  background-color: #fff;
  color: #000000;
  border: 1px solid black;
}
#homeNavlink{
  text-decoration: none;
  color: #000000;
}
.addsongNavlink{
  text-decoration: none;
  margin-left: 1000px;
  color: #000000;
}
#homeNavlink:hover{
  color: blue;
  font-weight: 600;
}
#addsongNavlink:hover{
  color: blue;
  font-weight: 600;
}